@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: rgba(100,116,139,0.5); border-radius: 9999px; }
::-webkit-scrollbar-track { background: transparent; }
